/* CSS declarations go here */

body {
    font-family: 'Avenir';
    margin: 0;
    background-image: linear-gradient(160deg,rgb(210, 155, 246) 0%,rgb(130, 108, 255) 35%, rgb(130, 108, 255) 65%, #5cffe4 100%);
}

.header {
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    content: "";
    height: 56px;
    line-height: 56px;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 0px 30px;
    background-color: rgba(130, 109, 255, 1);
    color: white;
    top: 0;
    z-index: 100;
}

.content {
    position: relative;
    height: 100vh;
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}
.overflow-hidden {
    overflow: hidden;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}
@keyframes cf4FadeInOut {
    0% {
        /* opacity: 1; */
    
      transform: translateX(350px);
      z-index: 90;

    }
    3% {

        transform: translateX(0);
    }

    20% {
        z-index: 80;
    }

    99% {
z-index: 0;
        transform: translateX(0);
    }
    100% {
        /* opacity: 1; */
      transform: translateX(350px);
    }
}

.logo-title {
    width: 250px;
}

#cf4a {
    width: 350px;
    height: 757px;
    position: relative;
    margin: 0 auto;
}

#cf4a .frame {
    position: absolute;
    z-index: 90;
    width: 400px;
    left: -26px;
    top: -22px;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.35);
    border-radius: 70px;
}

.image-col {
    justify-content: flex-end;
    margin-right: 20px;
}

#cf4a img:not(.frame) {
    width: 350px;
    -webkit-animation-name: cf4FadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    -moz-animation-name: cf4FadeInOut;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 12s;
    -o-animation-name: cf4FadeInOut;
    -o-animation-timing-function: ease-in-out;
    -o-animation-iteration-count: infinite;
    -o-animation-duration: 12s;
    animation-name: cf4FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    position: absolute;
    left: 0;
}

#cf4a img:not(.frame):nth-of-type(1) {
    animation-delay: 8s;
}

#cf4a img:not(.frame):nth-of-type(2) {
    animation-delay: 4s;
}

#cf4a img:not(.frame):nth-of-type(3) {
    animation-delay: 0s;
}


.grid {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
}

.grid .row {
    display: flex;
    flex-wrap: wrap;
}

.grid .row .col {
    padding: 5px;
    position: relative;
    width: 100%;
    margin: 0;
    min-height: 1px;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.download-buttons-row {
    display: flex;
}

.download-buttons-row a:first-child {
    margin-right: 40px;
}

.download-buttons-row a {
    width: 200px;
    overflow: hidden;
    position: relative;
    transition: all 200ms linear;
    font-family: "Roboto medium", sans-serif;
    font-size: 14px;
    display: inline-block;
    min-width: 88px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    border-radius: 2px;
    color: #fff;
    outline: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 10px;
    height: 59px;
}

.download-buttons-row a:hover {
    box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.12), 0 6px 1px -2px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}

.download-buttons-row a img {
    width: 100%;
    height: auto;
}

.description-column {
    justify-content: center;
    padding: 40px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description-column h1,
.description-column h3 {
    display: block;
    width: 100%;
    color: white;
    font-weight: 100;
}

.description-column h3 {
    margin-bottom: 42px;
}

.grid .row .col.grow-5 {
    flex-grow: 0.05
}

.grid .row .col.grow-10 {
    flex-grow: 0.1
}

.grid .row .col.grow-15 {
    flex-grow: 0.15
}

.grid .row .col.grow-20 {
    flex-grow: 0.2
}

.grid .row .col.grow-25 {
    flex-grow: 0.25
}

.grid .row .col.grow-30 {
    flex-grow: 0.3
}

.grid .row .col.grow-35 {
    flex-grow: 0.35
}

.grid .row .col.grow-40 {
    flex-grow: 0.4
}

.grid .row .col.grow-45 {
    flex-grow: 0.45
}

.grid .row .col.grow-50 {
    flex-grow: 0.5
}

.grid .row .col.grow-55 {
    flex-grow: 0.55
}

.grid .row .col.grow-60 {
    flex-grow: 0.6
}

.grid .row .col.grow-65 {
    flex-grow: 0.65
}

.grid .row .col.grow-70 {
    flex-grow: 0.7
}

.grid .row .col.grow-75 {
    flex-grow: 0.75
}

.grid .row .col.grow-80 {
    flex-grow: 0.8
}

.grid .row .col.grow-85 {
    flex-grow: 0.85
}

.grid .row .col.grow-90 {
    flex-grow: 0.9
}

.grid .row .col.grow-95 {
    flex-grow: 0.95
}

.grid .row .col.grow-100 {
    flex-grow: 1
}


.rectangles-holder {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 1%;
    transform: skew(-55deg);
    left: 12%;
    filter: blur(100px);
    z-index: 0;
}

.rectangles-holder > div:nth-child(1) {
    background: #60ebff;
    width: 400px;
    height: 800px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 100%;
}
.rectangles-holder > div:nth-child(2) {
    background: rgba(255, 115, 65, 0.2);
    width: 400px;
    height: 500px;
    position: absolute;
    left: 400px;
    bottom: 0px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 100%;
}
.rectangles-holder > div:nth-child(3) {
    width: 600px;
    height: 400px;
    position: absolute;
    bottom: 0;
    left: 800px;
    background: #ffffff00;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 100%;
}
.rectangles-holder > div:nth-child(4) {
    background: rgba(234, 90, 15, 0.61);
    width: 170px;
    height: 500px;
    right: 1265px;
    position: absolute;
    transform: skew(65deg);
    top: -100px;
    border-radius: 100%;
}
.rectangles-holder > div:nth-child(5) {
    background: #ea5a0f;
    width: 150px;
    height: 600px;
    right: 1000px;
    position: absolute;
    transform: skew(65deg);
    top: -100px;
    border-radius: 100%;
}
.rectangles-holder > div:nth-child(1) {

}
.rectangles-holder > div:nth-child(1) {

}